//import mixins-vars
@import "./mixins-vars";

.weather-dashboard {
  &__search-group {
    position: relative;
  }

  &__dropdown {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
    padding: 20px 0;
    width: calc(100% - 5.1rem);
    top: 40px;
    z-index: 1000;
    max-height: 400px;
    overflow: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    span {
      padding: 0 1.111rem;
    }
    ul {
      padding: 0;
      li {
        padding: 0 1.111rem;
        list-style-type: none;
        cursor: pointer;
        &:hover {
          background-color: #007bff;
          color: #fff;
        }
      }
    }
  }
}